@import 'tailwindcss'; /* source('../'); */
@config '../tailwind.config.js';

/*
  Temp fix for focus ring problem:
  https://github.com/heroui-inc/heroui/issues/5266
*/
.data-\[focus-visible\=true\]\:outline-focus {
  &[data-focus-visible='true'] {
    outline-style: solid;
  }
}

body {
  font-family: 'Outfit', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-foreground-400;
  @apply my-2;
}
h1 {
  @apply text-2xl font-bold;
}
h2 {
  @apply text-xl font-bold;
}
h3 {
  @apply text-xl font-semibold;
}
h4 {
  @apply text-lg font-semibold;
}
h5 {
  @apply text-lg;
}
h6 {
  @apply text-base font-bold;
}

iconify-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
}

.cm-editor {
  background-color: transparent;
}

.markdown-section {
  & * {
    @apply my-2;
  }
  & p {
    @apply leading-4;
  }
  & ul > li {
    @apply list-disc;
    @apply mx-4;
  }
  & a {
    @apply text-blue-300;
  }

  & a:hover {
    @apply underline;
  }
}
