@import 'tailwindcss'; /* source('../'); */
@config '../tailwind.config.js';

/*
  Temp fix for focus ring problem:
  https://github.com/heroui-inc/heroui/issues/5266
*/
.data-\[focus-visible\=true\]\:outline-focus {
  &[data-focus-visible='true'] {
    outline-style: solid;
  }
}

body {
  font-family: 'Outfit', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: hsl(var(--heroui-foreground-400));
}

iconify-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
}

.cm-editor {
  background-color: transparent;
}
